.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  font-weight: 300;
  font-size: 16px;
  line-height: 145%;
  margin-bottom: 8px;
  text-align: center;
}

.countries {
  font-weight: 500;
  font-size: 14px;
  line-height: 145%;
  text-align: center;
}
