.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  width: 180px;
  height: 150px;
  margin-bottom: 32px;
}

.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 130%;
  margin-bottom: 8px;
  text-align: center;
}

.description {
  font-weight: 500;
  font-size: 16px;
  line-height: 145%;
  text-align: center;
}
