.container {
  display: flex;
  padding: 40px 0px;
  justify-content: center;
}

.link {
  display: inline-block;
  margin: 0px 20px;
  color: #434344;
  text-decoration: none;
  border-bottom: 1px solid #434344;
  padding: 2px 0px;
  transition: .3s ease;
}

.link:hover {
  color: #FAFAFA;
  border-bottom-color: #FAFAFA;
}